.divNavigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 60px;
}
.active {
  font-weight: bold;
  color: #ff5733; /* Highlight color */
}
